<html>
<head data-th-fragment="header">
    <title data-th-text="${resource.valueMap['title']}">Inner Source</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/apps/innersource/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="/apps/innersource/css/fonts.css">
    <script src="/apps/innersource/js/innersource.bundle.js"></script>
    <script src="/apps/innersource/js/semantic.js"></script>
    <script>
        $(document).ready(function() {
            $('.main.menu').visibility({type: 'fixed'});
        });
    </script>
    <style type="text/css">
        .main.menu {
            border-radius: 0;
            border: none;
            box-shadow: none;
            transition: box-shadow 0.5s ease, padding 0.5s ease;
        }

        .main.menu.fixed {
            border: 1px solid #DDD;
            box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        }

        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 2em 0em;
        }
    </style>
</head>

<body>
<div class="ui main text container">
    <h1 class="ui header">Inner Source</h1>
    <p>The practical application of Open Source principles</p>
</div>

<div class="ui borderless main menu">
    <div class="ui text container">
        <a href="#" class="item">Articles</a>
        <a href="#" class="item">Resources</a>
        <a href="#" class="item">About</a>
    </div>
</div>

<div class="ui text container">
    <p>Inner Source is a term used to collectively describe the adoption of Open Source principles to manage code within an organisation.</p>

    <h2>Community</h2>
    <p>
        One important aspect of successful Open Source projects is that they are based around a community of individuals working towards common goals. In this sense the focus is not primarily on individual concerns, but rather on maturing the code itself.
        This is a very important distinction from the traditional approach of teams focused on addressing their own concerns and implementing solutions that are not designed for consumption outside of the implementing team.
    </p>

    <h2>Modularity</h2>
    <p>
        A prominent trait in Open Source projects is that they are designed in a modular way to ensure the greatest interoperability possible. Solutions that are restricted in scope and purpose are less likely to be successful as the designers cannot always forsee every possible use-case for the code.
        So by designing with modularity in mind a code solution has a greater potential to be used in a broader range of use-cases.
    </p>

    <h2>Transparency</h2>
    <p>
        In order to be successful Open Source projects require promotion and inclusiveness to foster the community surrounding the project. Teams need to be open and communicative from the outset, ensuring they respond in a timely manner to requests and address needs and concerns of the wider community.
        Organisations often have challenges around cross-team communications, and the transparency required to implement a successful Inner Source project can assist to improve the communications across the organisation-wide community.
    </p>
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <footer data-th-fragment="footer">
            <p class="ui center aligned footer">
                Created with <a href="http://whistlepost.org" target="_blank">Whistlepost</a> | &copy;
                <span data-th-text="${resolver.getResource('/content/innersource/footer').valueMap['copyright']}">Inner Source</span>
            </p>
        </footer>
    </div>
</div>
</body>
</html>
